# input.py 本体

In [41]:
import pandas as pd
import numpy as np

## 0. csv

In [150]:
def csv(raw_data_csv, condition_csv, dummy_ch_csv):
    """input all csv files"""
    raw_data = pd.read_csv(raw_data_csv, index_col=1, skiprows=[1], converters={"Time.":str, 'Channel No.':str, "---.1":str})
    condition = pd.read_csv(condition_csv, index_col=0)
    dummy_ch = pd.read_csv(dummy_ch_csv, index_col=0)
    
    return raw_data , condition , dummy_ch

## 1. strain

In [151]:
def strain(sample_ID, raw_data, condition):
    ini_time = int(condition.at["Initial Time", sample_ID])
    fin_time = int(condition.at["Final Time", sample_ID])
    ch = condition.loc["xx":"xz", sample_ID].dropna(how="all").values
    time = raw_data.loc[ini_time:fin_time, ["Elapsed Time","Time.", "Channel No.", "---.1"]]
    strain = raw_data.loc[ini_time:fin_time, ch]
#     if add time columns
#     strain = pd.concat([time, strain], axis=1)
    
    return strain

## 2. dummy

In [152]:
def dummy(sample_ID, raw_data, condition, dummy_ch):
    ini_time = int(condition.at["Initial Time", sample_ID])
    fin_time = int(condition.at["Final Time", sample_ID])
    dummy_ch.values
    dummy = raw_data.loc[ini_time:fin_time, dummy_ch.values[0,:]]
    time = raw_data.loc[ini_time:fin_time, ["Elapsed Time","Time.", "Channel No.", "---.1"]]
#     if add time columns
#     dummy = pd.concat([time, dummy], axis=1)
    
    return dummy

## 3. temperature

In [153]:
def temperature(sample_ID, raw_data, condition):
    ini_time = int(condition.at["Initial Time", sample_ID])
    fin_time = int(condition.at["Final Time", sample_ID])
    temperature = raw_data.loc[ini_time:fin_time, ["CH000", "CH001"]]
    time = raw_data.loc[ini_time:fin_time, ["Elapsed Time","Time.", "Channel No.", "---.1"]]
#     if add time columns
#     temperature = pd.concat([time, temperature], axis=1)
    
    return temperature

## 4. date

In [154]:
def date(sample_ID, raw_data, condition):
    ini_time = int(condition.at["Initial Time", sample_ID])
    fin_time = int(condition.at["Final Time", sample_ID])
    time = raw_data.loc[ini_time:fin_time, ["Elapsed Time","Time.", "Channel No.", "---.1"]]
    
    return time

# テスト部分

In [155]:
raw_data_csv = "../InputFiles/normal_strain.csv"
condition_csv= "../InputFiles/input.csv"
dummy_ch_csv = "../InputFiles/dummy_ch.csv"

In [156]:
a,b,c =  csv(raw_data_csv=raw_data_csv, condition_csv=condition_csv, dummy_ch_csv=dummy_ch_csv)

In [157]:
strain("FDB-08", a, b)

,CH010,CH011,CH012,CH014,CH015,CH016,CH017,CH018,CH019,CH021,CH022,CH023,CH024,CH025,CH027
---,,,,,,,,,,,,,,,
5,-1800,-574,91,-2059,-3518,-366,81,-222,-36,-2380,-3258,-2168,-2588,-1522,-2405
6,-1798,-571,92,-2058,-3517,-364,84,-222,-32,-2379,-3258,-2168,-2587,-1522,-2404
7,-1796,-567,92,-2057,-3518,-364,86,-221,-30,-2378,-3257,-2167,-2587,-1522,-2403
8,-1794,-565,93,-2055,-3517,-362,88,-220,-27,-2378,-3256,-2167,-2586,-1520,-2403
9,-1792,-563,94,-2053,-3517,-362,90,-219,-25,-2378,-3256,-2166,-2586,-1520,-2402
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4655,-1729,-359,152,-1912,-3500,-292,203,-188,-36,-2322,-3236,-2111,-2530,-1419,-2296
4656,-1729,-359,152,-1913,-3500,-291,203,-188,-36,-2322,-3236,-2112,-2530,-1419,-2296
4657,-1728,-359,152,-1913,-3500,-292,203,-188,-36,-2322,-3236,-2111,-2530,-1419,-2296
4658,-1729,-359,152,-1913,-3500,-292,203,-188,-36,-2322,-3236,-2111,-2530,-1419,-2296
4659,-1729,-370,152,-1913,-3500,-291,203,-188,-36,-2322,-3236,-2111,-2530,-1419,-2296

In [158]:
dummy("FDB-08", a, b, c)

      CH028  CH029  CH068  CH069   CH108  CH109  CH178  CH179
---
5     -1093  -1429   -341  -1676 -999999  -1477  -2067  -1215
6     -1093  -1430   -341  -1676 -999999  -1476  -2066  -1215
7     -1093  -1429   -341  -1677 -999999  -1476  -2067  -1215
8     -1093  -1429   -341  -1677 -999999  -1476  -2066  -1215
9     -1093  -1430   -340  -1676 -637012  -1476  -2067  -1216
...     ...    ...    ...    ...     ...    ...    ...    ...
4655  -1082  -1431   -337  -1675   -1777  -1461  -2048  -1211
4656  -1082  -1432   -337  -1676   -1777  -1461  -2048  -1214
4657  -1082  -1432   -337  -1677   -1777  -1461  -2047  -1212
4658  -1082  -1432   -338  -1676   -1777  -1461  -2046  -1214
4659  -1082  -1432   -338  -1676 -455515  -1462  -2047  -1213

[4655 rows x 8 columns]

In [159]:
temperature("FDB-08", a, b)

      CH000  CH001
---
5      15.0   13.3
6      15.0   13.0
7      15.0   13.4
8      15.0   13.3
9      15.0   12.9
...     ...    ...
4655   15.1   18.2
4656   15.1   18.3
4657   15.1   18.4
4658   15.1   18.5
4659   15.1   18.7

[4655 rows x 2 columns]

In [160]:
date("FDB-08", a, b)

      Elapsed Time                Time. Channel No.     ---.1
---
5            0.778  2018/02/11 19:05:41  2018/02/11  19:05:41
6            0.972  2018/02/11 19:17:21  2018/02/11  19:17:21
7            1.167  2018/02/11 19:29:01  2018/02/11  19:29:01
8            1.361  2018/02/11 19:40:41  2018/02/11  19:40:41
9            1.556  2018/02/11 19:52:21  2018/02/11  19:52:21
...            ...                  ...         ...       ...
4655       904.944  2018/03/21 11:15:41  2018/03/21  11:15:41
4656       905.139  2018/03/21 11:27:21  2018/03/21  11:27:21
4657       905.333  2018/03/21 11:39:01  2018/03/21  11:39:01
4658       905.528  2018/03/21 11:50:41  2018/03/21  11:50:41
4659       905.722  2018/03/21 12:02:21  2018/03/21  12:02:21

[4655 rows x 4 columns]